<div class="kitty-image">
  <iframe width="800" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiOTcyZDZmZDgtMjdiMy00MzY2LTk5MDgtMmQ5YjZmMjcwMjIxIiwidCI6ImE2M2E3YWI0LWJjYzEtNDY0My04MzBlLTI5ZTcxMjAzY2I3ZiIsImMiOjh9" frameborder="0" allowFullScreen="true"></iframe>
  <%= image_tag 'kitty.png' %>
</div>
